<nav class="flex justify-between items-center px-8 py-4 bg-white shadow">
  <img class="w-64 h-19 " src="/assets/img/Startologer-Logo.png" alt="Startologer Logo" >
  <div class="hidden md:flex space-x-6">
  <!-- <a href="#features" class="hover:text-purple-600">Features</a>
  <a href="#how-it-works" class="hover:text-purple-600">How It Works</a>
  <a href="#pricing" class="hover:text-purple-600">Pricing</a>
  <a href="#contact" class="hover:text-purple-600">Contact</a> -->
  </div>
  <button class="bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700" 
  (click)="openFileUploadDialog()"
  >
    Try Demo
  </button>
</nav>
